<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Welcome Screen</title>
</head>
<body>
    <div class="container">
        <h1>Welcome To The Clubs Portal</h1>
        <p>User: {{ name }} </p>
        <p>Role: {{ role }}</p>


        <button class="button" onclick="window.location.href='/view_resources'">View Resources</button>
        <!-- <button class="button" onclick="window.location.href='/borrowed_resources'">View Borrowed Resources</button> -->
        <button class="button" onclick="window.location.href='/request_resource'">Request Resource</button>
        <button class="button" onclick="window.location.href='/view_events'">View Events</button>
        <button class="button" onclick="window.location.href='/request_event'">Request Event</button>
        <!-- <button class="button" onclick="window.location.href='/view_attendance'">View Attendance</button> -->
        <!-- <button class="button" onclick="window.location.href='/event_feedback'">Event Feedback</button> -->

        
    </div>
</body>
</html>

