</body>
</html>

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <div class="container">

        <h1>Welcome to the TA Scheduler</h1>
        <p>User: {{ name }} </p>
        <p>Role: {{ role }}</p>

        <button class="button" onclick="window.location.href='/appointments'">Book Appointment</button>
        {% if role == "ra" or role == "instructor" %}
            <button class="button" onclick="window.location.href='/promote'">Promote Student To TA</button>
        {% endif %}
        {% if role == "ra" or role == "instructor" or role == "ta" %}
            <button class="button" onclick="window.location.href='/schedule_office_hours'">Schedule Office Hours</button>
        {% endif %}
        <button class="button" onclick="window.location.href='/'">Logout</button>

        
    </div>
</body>
</html>

