<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Resources</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>View Resources</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Resource ID</th>
                    <th>Resource Name</th>
                    <th>Lent Out To</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                <tr>
                    <td>{{ resource.id }}</td>
                    <td>{{ resource.resource_name }}</td>
                    {% if resource.lent_out_to %}
                        {% if role == 'sl' %}
                            <td>{{ resource.user.first_name }} {{ resource.user.last_name }}</td>
                        {% else %}
                            <td>{{ Unavailable }}</td>
                        {% endif %}
                    {% else %}
                        <td>Available</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>